.red{
    text-decoration: none ;
    color: black;

}
.re{
    margin:10px 0px;
    text-decoration: none ;
    color: black;
    border: 1px solid red;
    display: inline-block

}

.stp{
    color:red ;


    }
.xush{

   color:#32babcd9 ;
}

.post-entry{
    text-decoration: none ;
    color: black;
}